<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%- include('../partials/header') %>

    <title>Budget Homepage</title>
</head>
<body>
    <h1>Budget List</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <% budgets.forEach(b => { %>
          <tr>
            <td><a href="/budgets/<%= b._id %>/edit ">Edit</a></td>
            <td><%= b.title %></td>
            <td><a href="/budgets/<%= b._id %> ">Details</a></td>
            <td><form action=<%= `/budgets/${b._id}/?_method=DELETE` %> method="POST" id="deleteBudget">
                <button type="submit">DELETE</button>
            </form></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
</body>
</html>